
<html>

<head>

    {% include "meta.html" %}

</head>

<body>

    {% include "header.html" %}

    <main class="content-wrapper">

        <div class="content">

            <h1>About Us</h2>

            <h2>Evidence based analysis meets the world of skincare!</h2>
            
            <p>Skinfo's articles examine the scientific credibility and efficacy of skincares most common ingredients and medications. We dive deep into the research and summarise the findings to help you make informed choices about your skincare products.</p>
            
            <div class="accordion-wrapper">

                <!-- Donations Section -->
                <div class="accordion-item-wrapper" id="accordion-support-wrapper">
                    <div class="accordion-item-row">
                        <div class="accordion-item-icon">
                            <img height="28" src="/static/img/icons/plus.png" />
                        </div>
                        <div class="accordion-item-title">
                            <h4 itemprop="name">Want to support skinfo with a donation</h4>
                        </div>
                    </div>
                    <div class="accordion-item-content" id="accordion-support-content">
                        <p itemprop="text">
                            Please consider donating any amount via <a href="#" class="text-link-one">PayPal</a>. Donations go towards the running costs such as website hosting, journal access and time invested. 
                        </p>
                    </div>
                </div>

                <!-- Contributors/Supporter Section -->
                <div class="accordion-item-wrapper" id="accordion-contributors-wrapper">
                    <div class="accordion-item-row">
                        <div class="accordion-item-icon">
                            <img height="28" src="/static/img/icons/plus.png" />
                        </div>
                        <div class="accordion-item-title">
                            <h4 itemprop="name">Special thanks to all the following contributors</h4>
                        </div>
                    </div>
                    <div class="accordion-item-content" id="accordion-contributors-content">
                        <p itemprop="text">
                            There are no supporters at this current time. Please consider donating above.
                        </p>
                    </div>
                </div>
                
                <!-- Privacy & Terms Section -->
                <div class="accordion-item-wrapper" id="accordion-terms-wrapper">
                    <div class="accordion-item-row">
                        <div class="accordion-item-icon">
                            <img height="28" src="/static/img/icons/plus.png" />
                        </div>
                        <div class="accordion-item-title">
                            <h4 itemprop="name">Privacy policy & terms of service for skinfo</h4>
                        </div>
                    </div>
                    <div class="accordion-item-content" id="accordion-terms-content">
                        <p itemprop="text">
                            To improve our users experience we collect data on all site visitor. Links are provided to download our <a href="" class="text-link-one">privacy policy</a> and <a href="" class="text-link-one">terms of service</a>. 
                        </p>
                    </div>
                </div>

            </div>

        </div>
    </main>

    {% include "footer.html" %}

</body>

</html>


    
