
<footer>

    <div class="footer-wrapper">

        <div class="upper-wrapper">
            Powered by <a class="text-link" href="https://flask.palletsprojects.com/" target="_blank">Flask</a> &copy; Copyright Skinfo {{ now.year }}
        </div>

        <ul class="lower-wrapper">
            <a href="{{url_for('home')}}"><li>
                <img class="img-black" height="24" src="/static/img/icons/twitter.png">
                <img class="img-color" height="24" src="/static/img/icons/twitter-color.png">
            </li></a>
            <a href="{{url_for('home')}}"><li>
                <img class="img-black" height="24" src="/static/img/icons/facebook.png">
                <img class="img-color" height="24" src="/static/img/icons/facebook-color.png">
            </li></a>
            <a href="{{url_for('home')}}"><li>
                <img class="img-black" height="24" src="/static/img/icons/instagram.png">
                <img class="img-color" height="24" src="/static/img/icons/instagram-color.png">
            </li></a>
            <a href="{{url_for('home')}}"><li>
                <img class="img-black" height="24" src="/static/img/icons/paypal.png">
                <img class="img-color" height="24" src="/static/img/icons/paypal-color.png">
            </li></a>
        </ul>
        
    </div>

</footer>
